body {
    background-color: transparent;
    padding-top: 50px;
}
.img-container {
    text-align: center;
}
.main {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    line-height: 50px;
    padding: 0 40px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.record {
    background-color: green;
}

.stop {
    background-color: red;
}

.hide {
    display: none;
}