body {
  overflow: hidden;
}

.main {
  position: relative;
  height: 400px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.white-circle {
  width: 230px;
  height: 230px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.icon-play {
	cursor: pointer;
  }
